/* Color 1 : #236094; */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus, select:focus, textarea:focus { outline: 0 !important; }
strong { font-weight: 600; }

a, a:hover, a:target, a:focus {
    color: #444;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover{ text-decoration: none; }

body {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #565657;
    background-color: #e1ddde;
}

.form-control { font-size: .9rem; color: #555; }

.form-control:focus {
    background-color: #fff;
    border-color: #d7d8d7;
    box-shadow: none;
}

p {
    text-align: justify;
}

/* ___ Shortcodes ___ */

img {
    max-width: 100%;
    height: auto;
}

.float-left { float: left; }
.float-right { float: right; }
.overflow { overflow: hidden; }
.hidden { display: none; }
.relative, .has-overlay { position: relative; }
.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase; }
.justify { text-align: justify; text-align-last: center; }
.TextWhite { color: white !important; }
.TextBlack { color: black !important; }
.block { display: block; }

.has-border-top { border-top: 1px solid #eee; }
.has-border-bottom { border-bottom: 1px solid #eee; }
.GraySection { background-color: #f5f5f5; }
.WhiteSection { background-color: #fff !important; }
.color-theme { color: #4086c7; }
.bg-theme { background-color: #4086c7; }

.ClearPadding { padding: 0 !important }
.ClearPaddingLf { padding-left: 0 !important; }
.ClearPaddingRt { padding-right: 0 !important; }

.FluidDoublePadding {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.has-overlay { position: relative; }

.has-overlay:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.34);
}

.wow { visibility: hidden; }
.Delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.Delay-2s { animation-delay: 2s; -webkit-animation-delay: 2s; }
.Delay-3s { animation-delay: 3s; -webkit-animation-delay: 3s; }
.Delay-4s { animation-delay: 4s; -webkit-animation-delay: 4s; }

.Zoom {
    display: block;
    transform: scale(1);
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    transition: transform .2s;
}

.Zoom:hover {
    transform: scale(0.9);
}

.transform-both {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.SectionTitle .TheChild {
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.SectionTitle .TheChild span {
    color: #919191;
}

.section-block {
    background-color: #f7f7f8;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px rgba(34, 34, 34, 0.129411);
}

.section-block.HasPadding {
    padding-left: 30px;
    padding-right: 30px;
}

.section-block-white { background-color: #fff; }

.Pn-more, .Pn-more {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 13px;
}

.Pn-more, .Pn-more:hover {
    color: white;
}

.Pn-more i {
    margin-left: 10px;
    vertical-align: middle;
    color: #4086c7;
    font-size: 21px;
}

/* ___ Button ___ */

.btn {
    font-size: 13px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.btn.btn-unrounded {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;

}

.btn-blue, .btn-light-blue:hover { 
    background-color: #4086c7;
    border: 1px solid #3475b2;
    color: white;
    box-shadow: 2px 2px 3px rgba(17, 17, 17, 0.23);
}

.btn-blue:hover, .btn-light-blue { 
    background-color: white;
    color: #4086c7;
    border: 1px solid #3475b2;
}

.Vn-r-w-action .btn {
    margin: 0;
    box-shadow: 4px 4px 5px rgba(17, 17, 17, 0.38);

    }

.btn-yellow { 
    background-color: #fcd837;
    border: 1px solid #fcd837;
    color: black;
    box-shadow: 2px 2px 3px rgba(17, 17, 17, 0.23);
}

.btn-yellow:hover { 
    background-color: white;
    color: #fcd837;
    border: 1px solid #fcd837;
}

.btn.btn-big {
    font-size: 1em;
    padding: 0.6em 2.3em;
}

/* __ Owl Nav Custom __ */

.owl-nav .owl-prev, .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    line-height: 31px;
    font-size: 25px !important;
    color: #4086c7 !important;
    background-color: #ffffff !important;
    border-radius: 50% !important;
    position: absolute;
    top: 50%;
    margin-top: -20px !important;
    z-index: 1000;
}

.owl-nav .owl-prev { left: -26px; }
.owl-nav .owl-next { right: -26px; }

.owl-nav .owl-prev:before { 
    content: "\f2fa"; 
    font-family: Material-Design-Iconic-Font; 
}

.owl-nav .owl-next:before { 
    content: "\f2fb"; 
    font-family: Material-Design-Iconic-Font; 
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 25px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    margin: 5px;
    background-color: #4086c7;
    border: 1px solid #4086c7;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: transparent;
}

/*  ###############
    HEADER 
    ###############
*/

.header {
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.ContainerHeader {
  height: 80px; 
  position: relative;
  width: 100%;
  background: white;
  z-index: 1000;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ContainerHeader.fixed {
  position: fixed;
  -webkit-box-shadow: 0 5px 5px -3px #E2E2E2;
  -moz-box-shadow: 0 5px 5px -3px #E2E2E2;
  box-shadow: 0 5px 5px -3px #E2E2E2;
}

.logo a {
    height: 89px;
    display: table-cell;
    vertical-align: middle;
}

/* __ Navigation ___ */

.SiteNav li {
    float: left;
    display: block;
    margin: 0px 14px;
    position: relative;
}

.SiteNav li:last-child {
    margin-right: 0;
}

.SiteNav li:last-child a {
    padding-right: 0;
}

.SiteNav li a {
    color: #236094;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding: 0 6px;
    line-height: 80px;
    height: 80px;
    display: block;
}

/* __ Fixed Social Networks __ */

.FxSocial {
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.FxSocial li.Fxitem.facebook { background-color: #507cbe; }
.FxSocial li.Fxitem.youtube { background-color: #f16160; }
.FxSocial li.Fxitem.twitter { background-color: #65cdf0; }
.FxSocial li.Fxitem.instagram { background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); }

.FxSocial li.Fxitem a {
    width: 43px;
    height: 43px;
    display: block;
    color: white;
    font-size: 23px;
    line-height: 43px;
    text-align: center;
}

/* __ Radio and Checkbox Style __ */

.checkbox-ui:not(:checked), .checkbox-ui:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkbox-ui+label {
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-ui+label:before, .checkbox-ui:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 4px;
    -webkit-transition: .2s;
    transition: .2s;
}

.checkbox-ui+label:before, .checkbox-ui:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 1px solid #6d6f71;
    border-radius: 1px;
    margin-top: 4px;
    -webkit-transition: .2s;
    transition: .2s;
    background-color:white;
}

.checkbox-ui:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.checkbox-ui:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #4086c7;
    border-bottom: 1px solid #4086c7;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background-color: transparent;
}

.radiobox-ui:not(:checked), .radiobox-ui:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radiobox-ui:not(:checked)+label, .radiobox-ui:checked+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiobox-ui+label:before, .radiobox-ui+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

.radiobox-ui:not(:checked)+label:before, .radiobox-ui:not(:checked)+label:after, .radiobox-ui:checked+label:before, .radiobox-ui:checked+label:after, .radiobox-ui.with-gap:checked+label:before, .radiobox-ui.with-gap:checked+label:after {
    border-radius: 50%;
}

.radiobox-ui:not(:checked)+label:before, .radiobox-ui:not(:checked)+label:after {
    border: 2px solid #5a5a5a;
}

.radiobox-ui:checked+label:before {
    border: 2px solid transparent;
}

.radiobox-ui:checked+label:after, .radiobox-ui.with-gap:checked+label:before {
    border: 2px solid #4086c7;
}

.radiobox-ui:checked+label:after, .radiobox-ui.with-gap:checked+label:after {
    background-color: #4086c7;
}

.radiobox-ui:checked+label:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

/*  ###############
    HERO 
    ###############
*/

.Herocontent, .HeroImg {
    width: 100%;
    height: 500px;
}

.Heroslider .owl-nav .owl-prev, .Heroslider .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    line-height: 53px;
    font-size: 36px !important;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.32) !important;
    border-radius: 8px !important;
}

.Heroslider .owl-nav .owl-prev { padding-left: 21px !important; }
.Heroslider .owl-nav .owl-next { padding-right: 21px !important; }

/* __ Hero Form __ */

.HeroFormInner {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 60%;
    max-width: 400px;
    top: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 12px rgba(85, 85, 85, 0.12);
}

.HeroForm-Header .nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 50%;
    display: block;
    float: left;
    text-align: center;
}

.HeroForm-Header .Hf-H-Nf {
    background-color: #4086c7;
    color: white;
    border-radius: 8px 0 0 0;
}

.HeroForm-Header .Hf-H-Nf a {
    color: white;
}

.HeroForm-Header .Hf-H-Occ {
    background-color: #fcd837;
    color: black;
    border-radius: 0 8px 0 0;
}

.HeroForm-Header .Hf-H-Occ a {
    color: black;
}

.HeroForm-Header .nav-item a {
    display: block;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
}

.Hf-Child {
    padding: 10px 22px;
}

.Estv-form {
    padding-top: 3px;
    width: 75%;
    margin: 0 auto;
}

.Hf-Child input, .Hf-Child select, .Hf-Child label,
.Gf-Form input, .Gf-Form select, .Gf-Form label,
.Estv-form select
{
    font-size: 13px;
}

.Hf-Child select, .Gf-Form select {
    background-color: #f2f4f2;
    /*border: 1.3px solid #d7d8d7;*/
}

.form-control:disabled, .form-control[readonly] {
    opacity: .5;
}

.Hf-Child label, .Gf-Form label, .SearchGroup label {
    font-weight: 600;
    color: #6d6f71;
    margin-left: 2px;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 3px;
}

.FormSubHeader { 
    overflow: hidden; 
    display:flex;
}

.FormSubHeader .nav { 
    width: 100%;
}

.FormSubHeader a {
    flex: 1 1 auto;
    display: block;
    text-align: center;
    font-size: 43px;
    line-height: 45px;
    padding: 0;
    margin: 0;
    color: #676666; 
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-top: 0 !important;
        border-radius: 0 !important;
}

.FormSubHeader li:last-child {
    border-right: 0;
}

.FormSubHeader a.active { 
    color: #f27c21 !important;
}

.HeroFormInner .Pn-more { 
    margin-top: 6px;
    display: block;
}

.HeroFormInner .form-group:last-child, .HeroFormInner .form-group:nth-last-child(2) { 
    margin-top: 1.2rem;
}

/*  ###############
    PRE BLOCK 
    ###############
*/

/* __ Carousel Logos Auto ___ */

.AB-Logo img {
    padding: 7px;
    max-width: 60%;
    margin: 0 auto;
}

.AB-Logo span {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.AutoBrand .owl-nav .owl-prev, .AutoBrand .owl-nav .owl-next,
.Ofse-yellow .owl-nav .owl-prev, .Ofse-yellow .owl-nav .owl-next,
.OwlPart .owl-nav .owl-prev, .OwlPart .owl-nav .owl-next
{
    color: #555 !important;
    background-color: #d4d4d4 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.AutoBrand .owl-nav .owl-prev, .OwlPart .owl-nav .owl-prev, .Of-ico-items .owl-nav .owl-prev { left: -200px; }
.AutoBrand .owl-nav .owl-next, .OwlPart .owl-nav .owl-next, .Of-ico-items .owl-nav .owl-next { right: -200px; }

.AtBrandContainer:hover .AutoBrand .owl-nav .owl-prev, .PartInner:hover .owl-nav .owl-prev { left: -65px; }
.AtBrandContainer:hover .AutoBrand .owl-nav .owl-next, .PartInner:hover .owl-nav .owl-next { right: -65px; }

/* ___ Widget ___ */

.WidgetContainer {
    padding: 18px 30px 30px 30px;
}

.Widget {
    background-color: #ebe9ea;
}

.Widget.WidgetWhite {
    background-color: #fff;
}

.Widget.WidgetFlex, .Vn-Cr-bottom-section .WhiteSection {
    position: relative;
    height: 100%;
}

.Widget .WidgetTitle {
    padding: 14px;
    background-color: #f7f8f8;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.Widget.Wd-blue .WidgetTitle {
    background-color: #4086c7;
    color: white;
}

.Widget.Wd-yellow .WidgetTitle {
    background-color: #fcd837;
    color: black;
}

.Widget.Wd-TxBlue .WidgetTitle {
    color: #4086c7;
}

.Widget .WidgetBody {
    background-color: white;
    padding: 15px;
    line-height: 1.3em;
    overflow: hidden;
}

.sb-title-sd {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.Wd-submit-ads { max-width: 90px; }

/* ___- Formulaire Guide -___ */

.listing-car-Gf {
    /*background-color: #f2f4f2;*/
    text-align: center;
    /*padding: 7px 0;*/
    overflow: hidden;
    padding-bottom: 10px;
}

.listing-car-Gf li {
    /*margin: 0 -5px;*/
    text-align: center;
    display: block;
    float: left;
    border-right: 1px solid #ced4da54;
}



.listing-car-Gf li.active {
    color: #ffffff;
    background-color: #3475b2;
}

.listing-car-Gf li:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #3475b2;
}

.listing-car-Gf li {
    color: #6d6f71;
    font-size: 44px;
    width: calc(100% / 7);
    min-height: 75px;
    background-color: #f2f4f2;
}

.listing-car-Gf li span {
    font-size: 12px;
    margin-top: -7px;
    display: block;
    line-height: 1.3em;
}

.listing-eng-Gf li {
    float: left;
    display: block;
    background-color: #f2f4f2;
    padding: 8px 4px;
    margin: 0;
    /*border-radius: 6px;*/
    font-size: 13px;
}

.listing-eng-Gf {
    /*background-color: #f2f4f2;*/
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.listing-eng-Gf li:last-child {
    /*padding-right: 16px;*/
}

.listing-eng-Gf li.active {
    color: #ffffff;
    background-color: #3475b2;
}

.listing-eng-Gf li:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #3475b2;
}

.listing-eng-Gf li:first-child {
    margin-left: 0;
}

.listing-eng-Gf li a {
    color: #6d6f71;
}

.listing-eng-Gf li a i {
    font-size: 31px;
    vertical-align: middle;
    margin-right: 5px;
}

/* ___- Tags -___ */

.Tags li {
    display:;
    float: left;
    margin: 3px;
}

.Tags li a {
    display: block;
    background-color: #f2f2f2;
    padding: 6px;
    font-size: 12px;
}

/* __ Voitures neuves en promo ___ */

.CP-Box .CP-Box-Thumb {
    padding: 0 25px;
    margin-bottom: 9px;
}

.CP-Box .CP-Box-Title {
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin-bottom: 0.3em;
}

.CP-Box .CP-des {
    font-size: 12px;
    display: block;
    color: #4086c7;
}

.CP-Box .CD-Prox-span {
    display: inline-block;
    background-color: #fcd837;
    color: black;
    padding: 7px 10px;
    margin-top: 10px;
}

/*  ###############
    OFFRES & SERVICES
    ###############
*/

.Ofse-yellow {
    background-color: #fcd837;
}

.Of-Child {
    text-align: center;
    text-transform: uppercase;
    color: #222;
    padding: 4px 0 10px 0;
    cursor: pointer;
}

.Of-Child:hover {
    color: white;
    text-shadow: 2px 2px 3px rgba(17, 17, 17, 0.3);
    cursor: pointer;
}

.Of-Child h5 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    min-height: 25px;
    margin-top: 10px;
    font-weight: 600;
}

.Of-Child h5 small {
    display: block;
    font-size: 65%;
    margin-top: 5px;
}

.Of-Child i {
    font-size: 60px;
    text-align: center;
}

.Of-Child span {
    font-size: 13px;
    line-height: 1.5em;
    margin-top: 10px;
    display: block;
}

.Of-ico-items .owl-nav .owl-prev, .Of-ico-items .owl-nav .owl-next {
    background-color: #fff !important;
    color: #fee32f;
}

.Of-ico-items .owl-nav .owl-prev { left: -200px; }
.Of-ico-items .owl-nav .owl-next { right: -200px; }

.Of-ico-items:hover .owl-nav .owl-prev { left: -50px; }
.Of-ico-items:hover .owl-nav .owl-next  { right: -50px; }my

/* ___ Last Ads ___ */

.AdsItem {
    text-align: center;
    border: 1px solid #eee;
    padding: 5px;
    color: #444;
}

.AdsItem .AdsThumbnail {
    margin-bottom: 10px;
}

.AdsItem .AdsBody h3 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

.AdsItem .AdsBody .AdsVh-ca {
    margin: 5px 0;
    font-size: 11px;
}

.AdsItem .AdsBody .AdsVh-ca span:after { 
    content: '/'; 
    margin-left: 3px 
}

.AdsItem .AdsBody .AdsVh-ca span:last-child:after { 
    display:none; 
}

.AdsItem .AdsBody .AdsPrice {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 16px;
}

/*  ###############
    VIDEOS
    ###############
*/

.VideoInner {
    background-color: #4e4e50;
}

.Vd-Child h4 {
    color: #d0d0d0;
    font-size: 13px;
    line-height: 1.3;
    margin-top: 10px;
}

/*  ###############
    BLOG 
    ###############
*/

.PostInner, .OwlVideo, .GdeInner {
    padding: 0 50px;
}

.PostBox .PostThumbnail .cover {
    height: 180px;
}

.PostBox .PostBody {
    padding: 20px;
    background-color: white;
}

.PostBox .PostTitle {
    font-size: 16px;
    line-height: 1.4em;
    color: black;
    margin-bottom: 0.7em;
    text-align:justify;
}

.PostBox .PostExcept {
    font-size: 13px;
    color: #777;
    line-height: 1.3em;
}

.PostBox .PostCat {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 9px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 10px;
}

.PostBox .PostCat.cat-interview {
    background-color: #009688;
}

.PostBox .PostCat.cat-actu {
    background-color: #9C27B0;
}

.PostBox .PostCat.cat-salon {
    background-color: #F44336;
}

/*  ###############
    BANNIRES ADS 
    ###############
*/

.Banner3 {
    /*height: 300px;*/
    margin-top: 28px;
}

/*  ###############
    GUIDES & CONSEILS
    ###############
*/

.Gde-container {
    background-color: #abaaaa;
}

.Gde .TheChild {
    color: #fff;
}

.Gde .TheChild span {
    color: #516161;
}

.Gde-1, .Gde-4 {
    background-color: #febe17;
}

.Gde-1, .Gde-4 { background-color: #febe17; }
.Gde-2, .Gde-3 { background-color: #3d86c6; }

.Gde-5, .Gde-6 { 
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.Gde-5 {
    background-color: #cbebf8;
    background-image: url(../img/gde-5-bg.jpg);
}

.Gde-6 { 
    background-color: #fff; 
    background-image: url(../img/gde-6-bg.jpg);
}

.Gde-block {
    position: relative;
    height: 220px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Gde-block .transform-both {
    position: absolute;
    width: 90%;
    text-align: center;
}

.Gde-5 .abs, .Gde-6 .abs {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
}

.Gde-title {
    color: #4d4d4f;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    text-align: center;
    line-height: 1.2em;
}

.Gde-subtitle, .Gde-t-small { font-size: 17px; }

.Gde-st-small { 
    font-size: 15px; 
    text-align: center;
}

.Gde-5 .Gde-subtitle { color: #4086c7; }
.Gde-6 .Gde-subtitle { color: #683b15; }

/*  ###############
    FOOTER
    ###############
*/

.footer {
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: #192431;
    color: #7e8792;
}

.footer .footer-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    color: #c8cdd4;
}

.footer .NewsletterForm input[type=email] {
    width: 85%;
    height: 43px;
    border: 0;
    padding-left: 15px;
    float: left;
}

.footer .NewsletterForm input[type=submit] {
    width: 15%;
    height: 43px;
    background-color: #82ca9c;
    background-image: url(../img/check.svg);
    border: 0;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
}


.footer .NewsletterForm small {
    display: block;
    font-size: 85%;
    opacity: 0.6;
    margin-top: 10px;
}

.footer .footer-nav li a {
    color: #e0dcdd;
    margin-bottom: 4px;
    display: block;
}

.footer .footer-nav li a:before {
    content: '\f2fb';
    font-family: 'Material-Design-Iconic-Font';
    margin-right: 10px;
}

.footer .footer-social li {
    float: left;
    display: block;
    margin-right: 10px;
}

/*  ###############
    BREADCRUMPS
    ###############
*/

.Breadcrumps {
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.Breadcrumps li {
    display: block;
    float: left;
    font-weight: 600;
}

.Breadcrumps li a {
    color: #666;
}

.Breadcrumps li.active {color: #34ade3;}

.Breadcrumps li a:after {
    content: '\f2fb';
    font-family: Material-Design-Iconic-Font;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

.Breadcrumps li:last-child a:after { display: none; }

/*  ###############
    PAGE RECHERCHE
    ###############
*/

.SearchGroup {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.Sg-title {
    position: relative;
    padding: 14px;
    color: #4086c7;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-left: 0;
    margin-bottom: 10px;
}

.Sg-title:before {
    content: '';
    width: 5px;
    height: 26px;
    background-color: #4086c7;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -13px;
}


.SearchGroup label { margin-bottom: 7px;}

.SearchGroup .listing-car-Gf li { margin: 0 10px 0 0; }
.Sg-del { margin-top: 10px; }
.form-check { margin-top: 10px; margin-right: 0.75rem; }
.form-group-check { margin-bottom: 1.5rem; }

.SearchGroup .form-check-label {
    margin-bottom: 0;
    font-weight: 400;
    color: #444;
}

.listing-car-Gf-Rch li {
    float: left;
    display: block;
    width: 14%;
    margin: 0 2px 2px 0;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}

.listing-car-Gf-Rch li {
    color: #6d6f71;
    font-size: 55px;
}

.listing-car-Gf-Rch li.active {
    color: #fff;
    border: 1px solid #4086c7;
    background-color: #4086c7;
}

.listing-car-Gf-Rch li:hover {
    color: #4086c7;
    border: 1px solid #4086c7;
}

.listing-car-Gf-Rch li.active:hover {
    color: #fff;
    border: 1px solid #4086c7;
    background-color: #4086c7;
}


.listing-car-Gf-Rch li i {
    margin-left: 35px;
    line-height: 1;
}

.listing-car-Gf-Rch li p {
    font-size: 14px;
    /*font-weight: 600;*/
    margin-top: -7px;
    width: auto;
}

.SubmitFx {
    position: fixed;
        background-color: red;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1000;
}

.sticky {
    position: fixed;
    max-width: 290px;
    bottom: 10px;
    display: block;
}

.reSticky{
    max-width: 290px;
    position:static;
    bottom: 0px;
}

.Elemfixed.fixed { display: block; }

/*  ###########################
    PAGE RECHERCHE PAR MARQUE 
    ###########################
*/

.AutoBrandWrapper {
    background-color: #efefef;
    overflow: hidden;
    width: 100%;
    padding: 5px 15px;
}

img.img-flag {
    display: inherit!important;
    height: 28px;
    margin-bottom: -9px;
    margin-top: -4px;
}

.AutoBrandWrapper img {
    /*width: 80px;*/
    height: 70px;
}

.AutoBrandWrapper span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    margin: 25px 15px 0px 15px;
    display: block;
    color: #595a5a;
}

.Title-Lis-bn {
    color: #575757;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.Title-Lis-bn strong { font-weight: 900; }

.Title-Lis-bl {
    display: block;
    color: #575757;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/*.AutoRM-container { background-color: #ededed; }*/

.Lp-Cm-sl-inner {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px 0px;
    margin-top: 20px;
}

.Lp-Cm-sl-inner img {
    margin-top: 7px;
}

.AutoRM-Box {
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    margin: 10px 0px 10px 0px;
}

.AutoRM-Box .AutoRM-Thumb img {
    max-width: 100%;
}

.AutoRM-Box .AutoRM-Body h4 {
    color: #4086c7;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.3em;
    margin-bottom: 0.3em;
}

.AutoRM-Box .AutoRM-Body .AutoRM-Version, .AutoRM-Box .AutoRM-Body .AutoRM-Price {
    color: #656262;
    display: block;
    font-size: 14px;
    line-height: 1.2em;
}

.AutoRM-Box .AutoRM-Body .AutoRM-Price{
    color: #656262;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
    line-height: 1.2em;
}

.Offre-spe .CP-Box-Title {
    color: #4086c7;
    line-height: 1.3em;
}

.Offre-spe .CP-Sub-Title {
    display: block;
    color: #4086c7;
    line-height: 1.3em;
}

.Offre-spe .CD-Price{
    display: block;
    color: #939394;
}

.WidgetBanner {
    background-color: #4086c7;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
    text-align: center;
    margin-top: 20px;
}

.ActuListing, .ActuAutoListing {
    padding: 15px 0 15px 0;
}

.ActuListing li {
    position: relative;
    margin-bottom: 15px;
}

.ActuListing li:before {
    content: '\f2fb';
    font-family: Material-Design-Iconic-Font;
    font-size: 30px;
    color: #4086c7;
    position: absolute;
    top: -3px;
    line-height: 1;
}

.ActuListing li a {
    color: #7c7d7d;
    font-weight: 500;
    line-height: 1.3em;
    display: inline-block;
    font-size: 13px;
    padding-left: 20px;
    text-align: justify;
}

.ActuListing .actu-more {
    display: block;
    color: #7c7d7d;
    font-weight: 600;
    margin-top: 20px;
}

.Sidebar .Widget { margin-bottom: 20px; margin-top: 15px;}
.Sidebar .Widget:last-child { margin-bottom: 0; }

/*  ##################
    PAGE LANDING PAGE
    ##################
*/

.WidgetInfolettre {
    position: relative;
    color: white;
    background-color: #416faa;
    padding-top: 10px;
    padding-bottom: 10px;
}

.WidgetInfolettre .Icon {
    font-size: 30px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;;
}

.WidgetInfolettre span {
    padding-left: 71px;
    display: block;
    line-height: 1.4;
    font-size: 13px;
}

.Lp-LightboxAction {
    position: absolute;
    bottom: 20px;
    right: 40px;
    background-color: rgba(0, 0, 0, 0.77);
    color: white;
    padding: 10px 15px;
}

.Lp-LightboxAction i {
    margin-right: 3px;
}

.LP-Cm-body p {
    font-weight: 600;
    font-size: 19px;
    line-height: 1;
    margin-bottom: 10px;
}

.LP-Cm-body li a {
    font-weight: 600;
    color: #676666;
}

.LP-inline-b label {
    font-size: 15px;
    font-weight: 600;
    display: block;
    font-size: 1rem;
}

.LP-inline-b .form-check-label {
    font-size: 0.9rem !important;
    font-weight: 400;
}

.LP-btn-action {
    margin-top: 10px;
    height: 50px;
    line-height: 30px;
}

.table-theme thead th {
    background-color: #4086c7;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.table-theme tbody tr td:last-child { 
    text-align: right;
    font-weight: 600;
}


.listing-eng-Gf i {
    font-size: 20px;
    vertical-align: middle;
}

.HeroVNContainer { 
    width: 100%;
}


.HeroVNForm {
    position: absolute;
    bottom: 110px;
    z-index: 100;
    width: 100%;
}

.Lp-Cm-sl-inner {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.HeroVNForm header {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.HeroVNForm header .rm-span, .HeroVNForm header .cr-span {
    position: relative;
    background-color: #38aee4;
    color: white;
    font-weight: 600;
    padding: 10px 13px;
    display: inline-block;
}

.Vn-footer-action {
    padding: 20px 0;
}

.Vn-footer-action .btn { 
    margin: 0; 
    box-shadow: 4px 4px 5px rgba(17, 17, 17, 0.38);
}

.Vn-Cr-bottom-section .BlockCr-Parent {
    margin: 10px 0;
}

.BlockCr-Box {
    padding: 10px 25px 10px 25px;
}

.BlockCr-Box .BlockCr-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #4d4d4f;
    font-size: 20px;
    text-align: center;
}

.BlockCr-Box .BlockCr-title small {
    display: block;
    font-size: 14px;
}

.BlockCr-Box .BlockCr-title-small {
    color: #4d4d4f;
    font-size: 14px;
}

.BlockCr-Form .form-group {
    margin-bottom: 1em;
}

.BlockCr-Form .form-group:last-child {
    margin-bottom: 0;
}

.BlockCr-Form select, .Cr-small-form select {
    border-radius: 0;
    -webkit-border-radius: 0px;
    height: 44px !important;
    font-size: 15px;
}

.Vn-Actu-Carousel .PostThumbnail .cover, .Ads-video img {
    height: 250px;
}

.Ads-video {
    position: relative;
}

.Ads-video a.Ads-video-action {
    color: white;
    font-size: 70px;
    position: absolute;
    z-index: 10;
}

.Ads-video a.Ads-video-action {
    color: white;
    font-size: 100px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.Ads-video:hover a.Ads-video-action {
    font-size: 130px;
}

.Cr-small-form {
    background-color: #f2f2f2;
    border: 1px solid #cecece;
    padding: 8px;
}

.Cr-small-form label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
}

.Cr-small-form select {
    font-size: 13px;
    height: 38px !important;
}

.title-none {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #4d4d4f;
    font-size: 70px;
}

.HeroVNForm header .rm-span:after {
    content: '';
    display: block;
    background-color: #38aee4;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.HeroVNForm header .cr-span {
    background-color: #0000008c;
}

.HeroVNForm header .tv-span {
    color: white;
}

.HeroVNForm header span {
    padding: 0 15px;
}

.HeroVNForm .HeroVNBody {
    margin-top: 25px;
}

.HeroVNForm .form-group {
    margin-bottom: 0;
    width: 13%;
    float: left;
}

.HeroVNForm .form-group:nth-child(5) {
    width: 34%;
}

.HeroVNForm .form-control {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    height: 53px !important;
    font-size: 15px;
}

.HeroVNForm .btn {
    border-radius: 0;
    height: 53px !important;
    font-size: 15px;
    width: 100%;
}

.LgBox-Vn { margin-top: 20px; }

.LgBox-Vn .item {
    position: relative;
    background-color: #eeeeee;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 10px;
}

.LgBox-Vn .item img {
    max-width: 30%;
    float: left;
}

.LgBox-Vn .item span {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 72px;
    font-weight: 600;
    float: left;
    margin-left: 20px;
}

.LgBox-Vn .item .Vn-item-action {
    font-size: 35px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #4086c7;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ActuAutoListing li {
    padding-left: 15px;
    font-weight: 600;
    list-style-type: disc;
    color: #4086c7;
    list-style-position: inside;
}

/*  ############################
    PAGE RESULTAS FIN
    ############################
*/

.Sr-results-Vn {
    padding-top: 10px;
}

.Sr-banner-sp {
    background-color: #f1f1f1;
    margin-top: 10px;
    padding: 15px;
}

.Sr-banner-sp .Sr-Banner-child {
    display: inline-block;
    background-color: white;
    padding: 10px 30px 10px 10px;
    margin: 0px 2px 4px 0px;
    position: relative;
    font-size: 13px;
}

.Sr-banner-sp .Sr-Banner-child:first-child {
    /*margin-left: 0;*/
}

.Sr-banner-sp .Sr-Banner-child a {
    position: absolute;
    font-size: 16px;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}

.Sr-banner-sp .Sr-clear {
    font-weight: 600;
    margin-left: 20px;
    color: #565657;
    white-space: nowrap;
}

.Sr-banner-sp .btn {
    margin-left: 10px;
}

.VN-AutoTitle {
    font-size: 20px;
    font-weight: 600;
    color: #111;
    line-height: 1.3em;
    max-width: 100%;
}

.VN-AutoTitle span {
    color: #4086c7;
}

.rating li {
    font-size: 24px;
    display: block;
    float: left;
    color: #ffb800;
    margin-right: 3px;
}

.VN-avis-action {
    font-weight: 600;
    margin-left: 20px;
    margin-top: 8px;
}

.VN-avis-action a {
    color: #4086c7;
}

.VN-Results-Widget .Vn-r-w-back {
    display: block;
    text-align: center;
    padding: 30px 0;
    font-size: 2rem;
}

.VN-Results-Widget .Vn-r-w-back span {
    font-size: 15px;
    display: block;
    margin-top: 5px;
}

.VN-Results-Widget .pr-sha {
    text-align: center;
}

.VN-Results-Widget .pr-sha li {
    display: inline-block;
    margin: 0 20px;
}

.VN-Results-Widget .pr-sha li a {
    color: #8a8a8a;
}

.VN-Results-Widget .pr-sha li a:hover {
    color: #111;
}

.VN-Results-Widget .pr-sha li i {
    font-size: 44px;
}

.VN-Results-Widget .pr-sha li span {
    display: block;
    font-size: 12px;
    margin-top: 2px;
}

.VN-Results-Widget .Vn-r-w-action a, .Vn-footer-action .btn, .VN-Results-Widget .Vn-r-w-action button{
    display: block;
    border-radius: 0;
    margin: 20px 0;
    padding: 12px;
    font-weight: 600;
    font-size: 15px;
}

.VN-Results-Widget .Vn-r-w-action a:last-child {
    margin-bottom: 0;
}

.Vn-car-feat-title {
    font-weight: 600;
    color: #25afed;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: .5em;
}

.Vn-car-feat-table {
    margin-bottom: 25px;
}

.Vn-car-feat-table .table {
    color: #575757;
}

.tableHalfMiddle { max-width: 50%; }

.Vn-car-feat-table .table tr td:first-child {
    font-weight: 600;
}

.Vn-car-feat-table .table td {
    padding: .1rem;
    border-top: 0;
}

.Vn-car-feat-download {
    color: #828282;
    margin-right: 40px;
    font-weight: 600;
}

.Vn-car-feat-download i {
    font-size: 35px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -1px;
}

.Vn-footer-action {
    padding: 20px 0;
}

.Vn-footer-action .btn { 
    margin: 0; 
    box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.38);
}

.Vn-Cr-bottom-section .BlockCr-Parent {
    margin: 10px 0;
}

.withoutBor{
    border: 0px solid #ced4da !important;
}

.brandWidth{
    max-width: 70% !important;
}


.BlockCr-Box .BlockCr-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #4d4d4f;
    font-size: 20px;
    text-align: center;
}

.BlockCr-Box .BlockCr-title small {
    display: block;
    font-size: 14px;
}

.BlockCr-Box .BlockCr-title-small {
    color: #4d4d4f;
    font-size: 14px;
}

.BlockCr-Form .form-group {
    margin-bottom: 1.5em;
}

.BlockCr-Form .form-group:last-child {
    margin-bottom: 0;
}

.BlockCr-Form select, .Cr-small-form select {
    border-radius: 0;
    -webkit-border-radius: 0px;
    height: 44px !important;
    font-size: 15px;
}

.Vn-Actu-Carousel .PostThumbnail .cover, .Ads-video img {
    height: 280px;
}

.Ads-video {
    position: relative;
}

.Ads-video a.Ads-video-action {
    color: white;
    font-size: 70px;
    position: absolute;
    z-index: 10;
}

.Ads-video a.Ads-video-action {
    color: white;
    font-size: 100px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.Ads-video:hover a.Ads-video-action {
    font-size: 130px;
}

.Cr-small-form {
    background-color: #f2f2f2;
    border: 1px solid #cecece;
    padding: 15px;
}

.Cr-small-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.Cr-small-form select {
    font-size: 13px;
    height: 38px !important;
}

.title-none {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #4d4d4f;
    font-size: 70px;
}

/*  ############################
    PAGE VO RESULTAS
    ############################
*/

.Sr-banner-lp {
    padding: 10px 30px 10px 10px;
    margin: 0 10px;
    font-size: 13px;
}

.Sr-banner-lp .Sr-Banner-child {
    font-weight: 600;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: block;
    float: left;
    margin: 4px 4px 4px 0;
    padding: 8px 30px 8px 14px;
    border-radius: 3px;
    position: relative;
}

.Sr-banner-lp .Sr-Banner-child a.close { color: #38aee4; }
.Sr-banner-lp .Sr-Banner-child a.close i { font-weight: 600; }
.Sr-banner-lp .Sr-clear { margin: 12px; }

.vo-CarBox {
    background-color: white;
    padding: 20px;
    margin: 0 0 20px 0;
}
.vo-CarBox .vo-CarThumb .cover {
    width: 100%;
    height: 140px;
}

.vo-CarBox .vo-CarPrice {
    font-weight: 600;
    font-size: 25px;
    padding: 4px 0;
}

.vo-CarBox .vo-CarBody ul li {
    border-bottom: 1px solid #ddd;
    padding: 3px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 12px;
    color: #777;
}

.vo-CarBox .vo-CarBody ul li:last-child {
    border-bottom: 0;
}

.vo-CarBox .vo-CarBody ul li span {
    display: block;
}

.vo-CarBox .vo-CarBody ul li span:first-child {
    float: left;
}

.vo-CarBox .vo-CarBody ul li span:last-child {
    text-align: right;
    float: right;
}

/* VO Siderbar */

.Vo-Widget {
    padding: 15px 20px;
}

.Vo-Widget:first-child { padding-top: 20px; }
.Vo-Widget:last-child { padding-bottom: 20px; }

.Vo-Widget .Vo-W-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.Vo-Widget .form-check-inline { width: 100%; }
.Vo-Widget .form-check { margin-top: 0; }

.Vo-W-Counter {
    color: #97999a;
    display: block;
    position: absolute;
    right: 0;
    font-size: 12px;
}

.Vo-W-more {
    margin-top: 10px;
}

.Vo-W-more a {
    color: #97999a;
    font-weight: 600;
}

.Vo-W-more i {
    font-size: 26px;
    margin-right: 7px;
    vertical-align: middle;
}

.Vo-W-Body .range {
    width: 90%;
    margin: 20px auto 0 auto;
}

.Vo-Widget .Vo-W-Body .ScrollBody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 123px;
    padding-right: 10px;
}

.Vo-Widget .Vo-W-Body .ScrollBody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.Vo-Widget .Vo-W-Body .ScrollBody::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.Vo-Widget .Vo-W-Body .ScrollBody::-webkit-scrollbar-thumb {
    background-color: #4086c7;
    background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent);
}

.msgRes{
  border: 2px solid #4086c7;
  padding: 10px;
}

.bs-searchbox, .bs-actionsbox, .bs-donebutton {
    padding: 4px 2px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 5px 0px;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn .dropdown-toggle .bs-placeholder .btn-default{
    border: 1px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.btn-default{
    color: #333;
    background-color: #fff;
    border-color: transparent;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.form-control{
    border-radius: 0;
}


.Hf-Child .form-group {
    margin-bottom: 1rem;
}

.Hf-Child .form-group:last-child , .Hf-Child .form-group:nth-last-child(2) {
    margin-bottom: 0.4rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #D8E6F7 !important;
    border: 1px solid #4086c7 !important;
    border-radius: 0 !important;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
    padding: 0 5px;
    color: #444 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #4086c7 !important;
    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color : red !important;
    margin-right: 4px !important;
}

.clearButton {
    background-color:white;
    font-weight: 500 !important;
}



.zoom
{
    transition: transform 1s;
}

.zoom:hover {
    transform: scale(1.2);
}

.AutoRM-DIV {
    border: solid 1px #ececec;
    margin-bottom: 10px;
}

.AutoRM-DIV:hover {
    box-shadow: 2px 2px 3px rgba(17, 17, 17, 0.23);
    cursor: pointer;
}

.AutoRM-DIV-Brand:hover {
    box-shadow: 2px 2px 3px rgba(17, 17, 17, 0.23);
    cursor: pointer;
    border: solid 1px #ececec;
}

.SumoSelect .select-all>span i, .SumoSelect>.optWrapper.multiple>.options li.opt span i{
    box-shadow: none !important;
    border-radius : 0px !important;
}

.SumoSelect .select-all.partial>span i, .SumoSelect .select-all.selected>span i, .SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
    background-color: #4086c7 !important;
}

.SumoSelect>.CaptionCont>span.placeholder {
    font-style: normal !important;
    font-size: 14px !important;
}

.SumoSelect>.CaptionCont {
    font-style: normal !important;
    font-size: 14px !important;
}

#vrlist > tr:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.table thead th {
    border-bottom:none!important;
}
.Sr-Banner-child > span {
    font-weight: 600;
}

.btn{
    border-radius: 0.20rem;
}