.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background-image: url(../img/sprite-skin-flat-dark.png) !important;
}

.irs-min, .irs-max {
    background-color:#e1e4e9;
}