.login-form{
  margin-bottom: 10%;
  margin-top: 10%;
}

.v-center-container {
  display: inline-block;
  white-space: nowrap;

}

.vertical-align-center {
  display: flex;
  align-items: center;
}

#btn-login{
  margin-left: auto;
}

#btn-reset{
  padding-top: 10px;
}

#reset-password{
font-size: 12px;
}

.checkbox-ui+label{
  font-size: 12px;
}