@font-face {
  font-family: 'tomobile-font';
  src: url('../fonts/tomobile-font.eot?60562856');
  src: url('../fonts/tomobile-font.eot?60562856#iefix') format('embedded-opentype'),
       url('../fonts/tomobile-font.woff2?60562856') format('woff2'),
       url('../fonts/tomobile-font.woff?60562856') format('woff'),
       url('../fonts/tomobile-font.ttf?60562856') format('truetype'),
       url('../fonts/tomobile-font.svg?60562856#tomobile-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tomobile-font';
    src: url('../font/tomobile-font.svg?60562856#tomobile-font') format('svg');
  }
}
*/
 
 [class^="tmb-"]:before, [class*=" tmb-"]:before {
  font-family: "tomobile-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.tmb-33:before { content: '\e800'; } /* '' */
.tmb-32:before { content: '\e801'; } /* '' */
.tmb-31:before { content: '\e802'; } /* '' */
.tmb-27:before { content: '\e803'; } /* '' */
.tmb-28:before { content: '\e804'; } /* '' */
.tmb-8:before { content: '\e805'; } /* '' */
.tmb-13:before { content: '\e806'; } /* '' */
.tmb-30:before { content: '\e807'; } /* '' */
.tmb-29:before { content: '\e808'; } /* '' */
.tmb-26:before { content: '\e809'; } /* '' */
.tmb-24:before { content: '\e80a'; } /* '' */
.tmb-23:before { content: '\e80b'; } /* '' */
.tmb-22:before { content: '\e80c'; } /* '' */
.tmb-21:before { content: '\e80d'; } /* '' */
.tmb-20:before { content: '\e80e'; } /* '' */
.tmb-19:before { content: '\e80f'; } /* '' */
.tmb-18:before { content: '\e810'; } /* '' */
.tmb-17:before { content: '\e811'; } /* '' */
.tmb-16:before { content: '\e812'; } /* '' */
.tmb-15:before { content: '\e813'; } /* '' */
.tmb-14:before { content: '\e814'; } /* '' */
.tmb-12:before { content: '\e815'; } /* '' */
.tmb-11:before { content: '\e816'; } /* '' */
.tmb-10:before { content: '\e817'; } /* '' */
.tmb-9:before { content: '\e818'; } /* '' */
.tmb-7:before { content: '\e819'; } /* '' */
.tmb-6:before { content: '\e81a'; } /* '' */
.tmb-5:before { content: '\e81b'; } /* '' */
.tmb-4:before { content: '\e81c'; } /* '' */
.tmb-3:before { content: '\e81d'; } /* '' */
.tmb-1:before { content: '\e81e'; } /* '' */
.tmb-wheel:before { content: '\e81f'; } /* '' */
.tmb-credit-card:before { content: '\e820'; } /* '' */
.tmb-frontal-taxi-cab:before { content: '\e821'; } /* '' */
.tmb-ico1:before { content: '\e822'; } /* '' */
.tmb-ico2:before { content: '\e823'; } /* '' */
.tmb-ico3:before { content: '\e824'; } /* '' */
.tmb-ico4:before { content: '\e825'; } /* '' */