.navbar.SiteNav {
    padding: 0;
}
.navbar.SiteNav .dropdown-item{
    height: 30px !important;
    line-height: 30px !important;
}
.SumoSelect {
    width: 100%;
    font-size: 1rem;
    line-height: 1.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select2-container{
    max-width: 450px !important;
}
#formGuide .select2-container{
    max-width: 100% !important;
}
.Widget.WidgetFlex, .Vn-Cr-bottom-section .WhiteSection {
    position: relative;
    min-height: 280px;
}
.PostExcept {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-height: 1.5em !important;
    height: 7.5em;  
}
.PostTitle {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    height: 2.8em;  
}
.Promodes {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    height: 1.4em;  
}
.promotionHome .owl-item{
    width: 200px !important;
    margin-right: 0 !important;
}
.gnf .WidgetBody{
    min-height: 576px;
}
.contentarticle p{
    line-height: 25px;
    margin-top: 10px;
}
.page-item.active .page-link{
        background-color: #4086c7 !important;
    border-color: #4086c7 !important;
}
.Comment-box .comment-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer .footer-nav li a {
    font-size: 13px;
    /*padding-top: 14px;*/
}
.HeroForm-Header li.nav-item > a.active{
    border-top: 2px solid #676666;
}
li.showNeuf > a.active{
    border-radius: 6px 0 0 0;
}
li.showOcc > a.active{
    border-radius: 0 6px 0 0 ;
}
.HeroForm-Header li.nav-item :not([class=show]){
    border-top: 2px solid transparent;
}
.Of-ico-items:hover .owl-nav .owl-prev {
    left: -30px;
}
.Of-ico-items:hover .owl-nav .owl-next {
    right: -30px;
}
.promotionHome .owl-theme .owl-dots .owl-dot  span {
    background-color: #fcd837; 
    border: 1px solid #fcd837;
}
.promotionHome .owl-theme .owl-dots .owl-dot.active  span {
    background-color: transparent;
}
.select2-selection__rendered span{
    /*padding-left: 5px;*/
}
img.img-flag {
    width: 35px;
}
.AutoRM-Box .AutoRM-Thumb {
    max-height: 150px;
    overflow: hidden;
}
.CP-Box .CP-Box-Thumb {
    height: 115px;
    overflow: hidden;
}
.AB-Logo img {
    max-height: 62px;
    width: auto !important;
}
#formComparateur .select2-container, .HeroFormInner .select2-container {
    width: 100% !important;
}  