{% extends 'base.html.twig' %}

{% block body %}
    
  <section class="Herocontent overflow">

	<div class="HeroForm relative">
		<div class="container">
		<div class="row">

			<div class="HeroFormInner ml-3">

				<ul class="HeroForm-Header nav nav-pills" id="pills-tab" role="tablist">
					<li class="nav-item Hf-H-Nf active"><a class="" id="tab1" data-toggle="pill" href="#Hf-Tab-Nf" role="tab" aria-controls="tab1" aria-selected="true">Neuf</a></li>
					<li class="nav-item Hf-H-Occ"><a class="" id="tab2" data-toggle="pill" href="#Hf-Tab-Occ" role="tab" aria-controls="tab2" aria-selected="false">Occasions</a></li>
				</ul>

				<div class="tab-content" id="myTabContent">

					<figure id="Hf-Tab-Nf" role="tabpanel" aria-labelledby="tab1" class="Hf-Tab-Nf tab-pane active">

						<nav class="FormSubHeader">
						  <div class="nav nav-tabs" id="nav-tab" role="tablist">
						    <a class="nav-item nav-link active" id="nvcf-tab" data-toggle="tab" href="#nav-nf-car" role="tab" aria-controls="nav-nf-car" aria-selected="true"><i class="tmb-16"></i></a>
						    <a class="nav-item nav-link" id="nvcf-moto" data-toggle="tab" href="#nav-nf-moto" role="tab" aria-controls="nav-nf-moto" aria-selected="false"><i class="tmb-32"></i></a>
						    <a class="nav-item nav-link" id="nvcf-bcar" data-toggle="tab" href="#nav-nf-bcar" role="tab" aria-controls="nav-nf-bcar" aria-selected="false"><i class="tmb-19"></i></a>
						  </div>
						</nav>

						<div class="tab-content" id="nav-tabContent">
					        <div class="tab-pane fade show active Hf-Child C1" id="nav-nf-car" role="tabpanel" aria-labelledby="nvcf-tab">
                                                  <form action="{{ path('search_new')}}" method="POST">
                                                      <input type="checkbox" value="0" name="type" style="display: none;">
							<div class="row">
								<div class="form-group col-sm-6">
									<label for="">Marque</label>
									<select name="brand" class="form-control brand result" id="brand">
										<option value="0" selected>Marque</option>
										{% for brand in brands %}
                                                                                <option value="{{ brand.id }}">{{ brand.name }}</option>
										{% endfor %}
									</select>
								</div>

								<div class="form-group col-sm-6">
									<label for="">Modèle</label>
					
									<select name="model" disabled="" class="form-control result" id="model">
										<option value="0" selected>Modèle</option>
									</select>
								</div>

								<div class="form-group col-sm-6">
									<label for="">Prix max.</label>
									<select name="maxPrice" class="form-control result" id="maxPrice">
										<option value="0" selected>Tous</option>
										<option value="500000">500000</option>
										<option value="200000">200000</option>
										<option value="150000">150000</option>
										<option value="100000">100000</option>
									</select>
								</div>

								

								<div class="form-group col-sm-6" style="display: none;">
									<label for="">Kilométrage max.</label>
									<select name="mileage" class="form-control result" id="mileage">
										<option value="0">Tous</option>
										<option value="20000">20000</option>
										<option value="15000">15000</option>
										<option value="10000">10000</option>
										<option value="5000">5000</option>
									</select>
								</div>

								<div class="form-group col-sm-6">
									<label for="">Carburant</label>
									<select name="energy" class="form-control result" id="energy">
										<option value="0" selected>Tous</option>
										<option value="essence">Essence</option>
										<option value="diesel">Diesel</option>
										<option value="hybride">Hybride</option>
										<option value="electrique">Electrique</option>
									</select>
								</div>
                                                                        
                                                                <div class="form-group col-sm-6">
									<a href="{{ path('detailedSearch') }}" class="Pn-more TextBlack">Recherche détaillée <i class="zmdi zmdi-caret-right-circle"></i></a>
								</div>        

								<div class="form-group col-sm-6">
									<input type="submit" class="btn btn-primary btn-blue btn-block" value="{{ countNewAll }} résultats" name="afficher" id="afficher">
								</div>
                                                        

							</div>	
                                                                        </form>
						</div>
                                                <div class="tab-pane fade Hf-Child C2" id="nav-nf-moto" role="tabpanel" aria-labelledby="nvcf-moto">Formulaire 2 ici</div>
							<div class="tab-pane fade Hf-Child C3" id="nav-nf-bcar" role="tabpanel" aria-labelledby="nvcf-bcar">Formulaire 3 ici</div>
							<div class="tab-pane fade Hf-Child C4" id="nav-nf-acc" role="tabpanel" aria-labelledby="nvcf-acc">Formulaire 4 ici</div>                
                                                </div>
						<!-- <div class="Hf-Child C2"></div>
						<div class="Hf-Child C3"></div>
						<div class="Hf-Child C4"></div> -->

					</figure>

					<figure id="Hf-Tab-Occ" role="tabpanel" aria-labelledby="tab2" class="Hf-Tab-Occ tab-pane">
						<nav class="FormSubHeader">
						  <div class="nav nav-tabs" id="nav-tab" role="tablist">
						    <a class="nav-item nav-link active" id="nvcf-tab" data-toggle="tab" href="#nav-occ-car" role="tab" aria-controls="nav-occ-car" aria-selected="true"><i class="tmb-16"></i></a>
						    <a class="nav-item nav-link" id="nvcf-moto" data-toggle="tab" href="#nav-occ-moto" role="tab" aria-controls="nav-occ-moto" aria-selected="false"><i class="tmb-32"></i></a>
						    <a class="nav-item nav-link" id="nvcf-bcar" data-toggle="tab" href="#nav-occ-bcar" role="tab" aria-controls="nav-occ-bcar" aria-selected="false"><i class="tmb-19"></i></a>
						    <a class="nav-item nav-link" id="nvcf-acc" data-toggle="tab" href="#nav-occ-acc" role="tab" aria-controls="nav-occ-acc" aria-selected="false"><i class="tmb-33"></i></a>
						  </div>
						</nav>

						<div class="Hf-Child C1">
                                                  <form action="{{ path('search_occasion')}}" method="POST">
                                                      <input type="checkbox" value="1" name="type" style="display: none;">
							<div class="row">
								<div class="form-group col-sm-6">
									<label for="">Marque</label>
									<select name="brand" class="form-control brand result" id="brand">
										<option value="0" selected>Marque</option>
										{% for brand in brands %}
                                                                                <option value="{{ brand.id }}">{{ brand.name }}</option>
										{% endfor %}
									</select>
								</div>

								<div class="form-group col-sm-6">
									<label for="">Modèle</label>
					
									<select name="model" disabled="" class="form-control result" id="model">
										<option value="0" selected>Modèle</option>
									</select>
								</div>

								<div class="form-group col-sm-6">
									<label for="">Prix max.</label>
									<select name="maxPrice" class="form-control result" id="maxPrice">
										<option value="0" selected>Tous</option>
										<option value="500000">500000</option>
										<option value="200000">200000</option>
										<option value="150000">150000</option>
										<option value="100000">100000</option>
									</select>
								</div>

								<div class="form-group col-sm-6">
									<label for="">Année</label>
									<select name="year" class="form-control result" id="year">
										<option value="0" selected>Tous</option>
                                                                                <option value="2018">2017</option>
										<option value="2017">2017</option>
										<option value="2016">2016</option>
										<option value="2015">2015</option>
										<option value="2014">2014</option>
                                                                                <option value="2013">2013</option>
										<option value="2012">2012</option>
										<option value="2011">2011</option>
										<option value="2010">2010</option>
									</select>
								</div>

								<div class="form-group col-sm-6">
									<label for="">Kilométrage max.</label>
									<select name="mileage" class="form-control result" id="mileage">
										<option value="0">Tous</option>
										<option value="20000">20000</option>
										<option value="15000">15000</option>
										<option value="10000">10000</option>
										<option value="5000">5000</option>
									</select>
								</div>

								<div class="form-group col-sm-6">
									<label for="">Carburant</label>
									<select name="energy" class="form-control result" id="energy">
										<option value="0" selected>Tous</option>
										<option value="essence">Essence</option>
										<option value="diesel">Diesel</option>
										<option value="hybride">Hybride</option>
										<option value="electrique">Electrique</option>
									</select>
								</div>
                                                                        
                                                                <div class="form-group col-sm-6">
									<a href="{{ path('detailedSearch') }}" class="Pn-more TextBlack">Recherche détaillée <i class="zmdi zmdi-caret-right-circle"></i></a>
								</div>        

								<div class="form-group col-sm-6">
									<input type="submit" class="btn btn-primary btn-yellow btn-block" value="{{ countOccasionAll }} résultats" name="afficher" id="afficher">
								</div>
                                                        

							</div>	
                                                                        </form>
						</div>
					</figure>

				</div>

			</div>
		</div>
		</div>
	</div>

	<div class="Heroslider owl-carousel owl-theme">
		<div class="HeroImg cover item" style="background-image: url('{{ asset('bundles/tomobile/img/hero_bg1.jpg')}}')"></div>
		<div class="HeroImg cover item" style="background-image: url('{{ asset('bundles/tomobile/img/hero_bg2.jpg')}}')"></div>
		<div class="HeroImg cover item" style="background-image: url('{{ asset('bundles/tomobile/img/hero_bg3.jpg')}}')"></div>
	</div>

</section>

<section class="PreBd m-t-30">
	
	<div class="container">
	<div class="section-block">
		
		<div class="AtBrandContainer">
			<div class="row">
				<div class="SectionTitle text-center col-md-12">
					<h3 class="TheChild">Neuf</h3>
				</div>
			</div>

			<div class="row">
				<div class="AutoBrand owl-carousel owl-theme col-md-10 offset-md-1 m-t-10 m-b-30">
			            {% for brand in brands %}
                                         <div class="AB-Logo item"><a href="#"><img src="{{ brands_directory }}/{{ brand.media.path }}" alt="Abarth"> <span>{{ brand.name }}</span></a></div>
				    {% endfor %}
				</div>
			</div>
		</div>

		<div class="Banner1">
			<img src="{{ asset('bundles/tomobile/img/banner1.jpg')}}" alt="">
		</div>

		<div class="WidgetContainer">
		<div class="row">

			<div class="col-md-6">
			<aside class="Widget Wd-blue">
				<div class="WidgetTitle"><h4>Le guide du neuf</h4></div>
				<div class="WidgetBody">
					<p>Vous réfléchissez à l’achat de votre prochaine voiture neuve ? Tomobile360 vous aide à comparer l’ensemble des voitures neuves du marché : fiches techniques, photos et comparatifs.</p>

					<div class="Gf-Form m-t-15">
						<form action="{{ path('guide_new_search') }}" method="POST">

							<div class="row">

								<div class="form-group col-md-12">
									<label>Catégorie</label>
									<ul class="listing-car-Gf m-t-10">
                                                                            <li class="active category" id="1"><i class="tmb-31"></i><span>Citadine</span></li>
										<li class="category" id="2"><i class="tmb-20"></i></i><span>Compacte</span></li>
										<li class="category" id="3"><i class="tmb-21"></i><span>Berline</span></li>
										<li class="category" id="4"><i class="tmb-22"></i></i><span>Monospace</span></li>
										<li class="category" id="5"><i class="tmb-19"></i><span>Utilitaire<br />léger</span></li>
										<li class="category" id="6"><i class="tmb-23"></i><span>4x4<br />Suv</span></li>
                                                                                <li class="category" id="7"><i class="tmb-24"></i><span>Sportive<br />Cabriolet</span></li>
                                                                                <input id="category2" name="category2" type="hidden" value="0">
									</ul>
								</div>

								<div class="form-group col-md-12">
									<label>Marque</label>
									<select name="brand2" class="form-control br" >
										<option value="0" selected>Marque</option>
										{% for brand in brands %}
                                                                                <option value="{{ brand.id }}">{{ brand.name }}</option>
										{% endfor %}
									</select>
								</div>

								<div class="form-group col-md-12 m-t-15">
									<label>Energie</label>
									<ul class="listing-eng-Gf m-t-5">
										<li class="energy" id="essence"><i class="tmb-26"></i> Essence</li>
										<li class="energy" id="diesel"><i class="tmb-26"></i> Diesel</li>
										<li class="energy" id="hybride"><i class="tmb-28"></i> Hybride</li>
										<li class="energy" id="electrique"><i class="tmb-27"></i> Electrique</li>
									</ul>
                                                                        <input id="energy2" name="energy2" type="hidden" value="0">
								</div>

								<div class="form-group col-md-12 m-t-15">
									<label>Transmission</label>
									<ul class="listing-eng-Gf m-t-5">
										<li class="trans" id="1"><i class="tmb-29"></i> Automatique</li>
										<li class="trans" id="2"><i class="tmb-30"></i> Manuelle</li>
									</ul>
                                                                        <input id="trans2" name="trans2" type="hidden" value="0">
								</div>
                                                                <input id="GminPrice" name="GminPrice" type="hidden" value="50000">
                                                                <input id="GmaxPrice" name="GmaxPrice" type="hidden" value="200000">
								<div class="form-group col-md-12 m-t-15 relative">
									<input type="text" id="range" value="" name="range" />
								</div>

								<div class="form-group col-sm-6 offset-sm-6 m-t-20">
									<input type="submit" class="btn btn-primary btn-yellow btn-block submit-button" value="Afficher" name="">
								</div>

							</div>

						</form>
					</div>

				</div>
			</aside>
			</div>

			<div class="col-md-6">

				<aside class="Widget Wd-yellow">
					<div class="WidgetTitle"><h4>Voitures neuves en promotion</h4></div>
					<div class="WidgetBody">
						<div class="CarPromo owl-carousel owl-theme">
                                                     {% for promo in proAds%}
							<div class="CP-Box text-center">
								<div class="CP-Box-Thumb">
									<a href="#"><img src="{{ vehicles_directory }}/{{ promo.vehicle.medias[0].path }}" alt="{{ promo.vehicle.model.name }}"></a>
								</div>
								<div class="CP-Box-Body">
									<a href="#"><h5 class="CP-Box-Title">{{ promo.vehicle.model.name }}</h5></a>
									<span class="CP-des">{{ promo.description }}</span>
									<span class="CD-Prox-span">Jusqu'à <strong>-{{ promo.percentage }}%</strong></span>
								</div>
							</div>
                                                     {% endfor %}
						</div>
					</div>
				</aside>

				<aside class="Banner3 m-t-20">
					<img src="{{ asset('bundles/tomobile/img/banner3.jpg')}}" alt="">
				</aside>

			</div>

		</div>
		</div>

	</div>
	</div>
	
</section>

<section class="Ofse">
	
	<div class="container">
	<div class="section-block Ofse-yellow ">
		
		<div class="row">
			<div class="SectionTitle text-center col-md-12">
				<h3 class="TheChild TextBlack">Offres & Services</h3>
			</div>
		</div>

		<div class="Of-ico-container">
		<div class="row">
			<div class="Of-ico-items owl-carousel owl-theme col-md-10 offset-md-1">
				
				<div class="Of-Child item">
					<h5>Crédit Auto</h5>
					<div><i class="tmb-15"></i></div>
					<span>Faites votre <br />simulation</span>
				</div>

				<div class="Of-Child item">
					<h5>Assurance Auto</h5>
					<div><i class="tmb-7"></i></div>
					<span>Demandez un devis <br />meilleures formules</span>
				</div>

				<div class="Of-Child item">
					<h5>Test-drive</h5>
					<div><i class="tmb-14"></i></div>
					<span>Réservez <br />le véhicule de votre choix</span>
				</div>

				<div class="Of-Child item">
					<h5>Voiture neuve <small>Au meilleur prix</small></h5>
					<div><i class="tmb-3"></i></div>
					<span>Demandez un devis</span>
				</div>

				<div class="Of-Child item">
					<h5>Voiture neuve <small>Au meilleur prix</small></h5>
					<div><i class="tmb-5"></i></div>
					<span>Service dépannage</span>
				</div>

			</div>
		</div>
		</div>

	</div>
	</div>
	
</section>

<section class="Occ">
	
	<div class="container">
	<div class="section-block">
		
		<div class="row">
			<div class="SectionTitle text-center col-md-12">
				<h3 class="TheChild">Occasion</h3>
			</div>
		</div>

		<div class="WidgetContainer">
		<div class="row">

			<div class="col-md-4">
			<aside class="Widget WidgetFlex WhiteSection Wd-blue">
				<div class="WidgetTitle text-center"><h4>Vendre ma voiture</h4></div>
				<div class="WidgetBody text-center">
					<span>Gratuit,<br />rapide et au meilleur prix.</span>
					<a href="#" class="Zoom">
						<img src="{{ asset('bundles/tomobile/img/submit_ads.svg')}}" class="m-t-15 m-b-15" style="max-width: 140px;">
					</a>
					<h6 class="sb-title-sd">Passer une annonce</h6>
				</div>
			</aside>
			</div>

			<div class="col-md-4">
			<aside class="Widget WidgetFlex WhiteSection Wd-yellow">
				<div class="WidgetTitle text-center"><h4>Estimation de mon véhicule</h4></div>
				<div class="WidgetBody">
					<div class="Estv-form">
						<form action="{{ path('estimate') }}">
							<div class="form-group">
								<select class="form-control" name="year3">
									<option value="0">Année</option>
									<option value="0">2018</option>
									<option value="0">2017</option>
									<option value="0">2016</option>
									<option value="0">2015</option>
									<option value="0">2014</option>
									<option value="0">2013</option>
                                                                        <option value="0">2012</option>
									<option value="0">2011</option>
									<option value="0">2010</option>
									<option value="0">2009</option>
									<option value="0">2008</option>
									<option value="0">2007</option>
                                                                        <option value="0">2006</option>
									<option value="0">2005</option>
									<option value="0">2004</option>
									<option value="0">2003</option>
									<option value="0">2002</option>
									<option value="0">2001</option>
								</select>
							</div>
							<div class="form-group">
								<select class="form-control" name="brand3" id="brand3">
									<option value="0">Marque</option>
                                                                        {% for brand in brands%}
									<option value="{{ brand.id }}">{{ brand.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<select class="form-control" name="model3" id="model3" disabled>
									<option value="0">Modèle</option>
									
								</select>
							</div>

							<div class="float-right">
								<button type="button" class="btn btn-primary btn-blue">Valider</button>
							</div>

						</form>
					</div>
				</div>
			</aside>
			</div>

			<div class="col-md-4">
			<aside class="Widget WidgetFlex WhiteSection Wd-blue">
				<div class="WidgetTitle text-center"><h4>Les voitures les + recherchées</h4></div>
				<div class="WidgetBody">
					<ul class="Tags">
                                            {% for popular in populars %}
						<li><a href="#">{{ popular.model }}</a></li>
					    {% endfor %}	
						<li><a href="#">Plus de modèles ..</a></li>
					</ul>
				</div>
			</aside>
			</div>

			<div class="col-md-12 m-t-30">
			<aside class="Widget Wd-TxBlue">
				<div class="WidgetTitle"><h4>Les dernières annonces</h4></div>
				<div class="WidgetBody">
					<div class="OwlAds owl-carousel owl-theme">
						{% for ad in lastAds %}
						<article class="AdsItem item">
							<div class="AdsThumbnail">
								<a href="#"><img src="{{ vehicles_directory }}/{{ ad.vehicle.medias[0].path }}" alt="{{ ad.vehicle.model.name }}"></a>
							</div>
							<div class="AdsBody">
								<a href="#"><h3>{{ ad.vehicle.name }}</h3></a>
								<div class="AdsVh-ca">
									<span>{{ ad.vehicle.kilometers }}</span>
									<span>{{ ad.vehicle.energy }}</span>
									<span>{{ ad.vehicle.releaseDate|date('Y') }}</span>
								</div>
								<div class="AdsPrice">
									{{ ad.vehicle.price }} <span class="Currency">MAD</span>
								</div>
							</div>
						</article>
						{% endfor %}
						

					</div>
				</div>
			</aside>
			</div>

		</div>
		</div>

	</div>
	</div>
	
</section>

<section class="Ofse">
	
	<div class="container">
	<div class="section-block ClearPadding">
		
		<div class="Banner2">
			<img src="{{ asset('bundles/tomobile/img/banner2.jpg')}}" alt="">
		</div>

	</div>
	</div>
	
</section>

<section class="VideoWrapper">
	
	<div class="container">
	<div class="section-block VideoInner">
		
		<div class="row">
			<div class="SectionTitle TextWhite text-center col-md-12">
				<h3 class="TheChild TextWhite">Video</h3>
			</div>
		</div>

		<div class="row">

			<div class="OwlVideo owl-carousel owl-theme col-md-12 m-t-30">
				{% for video in lastVideos %}
				<div class="Vd-Child item">
					<div class="VdThumbnail">
						<a href="#">
							<img src="{{ article_videos_thumbs_directory }}/{{ video.medias[0].thumbnail }}">
							<h4>{{ video.title}}</h4>
						</a>
					</div>
				</div>
				{% endfor %}

			</div>

		</div>
		
		<div class="row">
			<div class="col-md-12 m-t-20">
				<a href="#" class="Pn-more float-right" style="padding-right: 36px;">Consulter toutes les vidèos <i class="zmdi zmdi-caret-right-circle"></i></a>
			</div>
		</div>			

	</div>
	</div>
	
</section>

<section class="PostListing">
	
	<div class="container">
	<div class="section-block">
		
		<div class="row">
			<div class="SectionTitle TextWhite text-center col-md-12">
				<h3 class="TheChild">Actus <span>&</span> Essais</h3>
			</div>
		</div>

		<div class="m-t-30 PostInner">

			<div class="row">
				{% for article in lastArticles%}
				<article class="PostBox col-md-4">
					<div class="PostThumbnail">
						<a href="#"><div class="cover" style="background-image: url('{{ article_actus_directory }}/{{ article.medias[0].path}}')"></div></a>
						<div class="PostBody">
							<span class="PostCat {{ article.category.name }}">{{ article.category.name }}</span>
							<h3 class="PostTitle">{{ article.title }}</h3>
							<p class="PostExcept text-justify">
								{{ article.description|slice(0,300)}}...
							</p>
						</div>
					</div>
				</article>
				{% endfor %}
			</div>

		</div>
		
		<div class="row">
			<div class="col-md-12 m-t-40">
				<a href="#" class="Pn-more TextBlack float-right" style="padding-right: 50px;">Consulter toutes les articles <i class="zmdi zmdi-caret-right-circle"></i></a>
			</div>
		</div>			

	</div>
	</div>
	
</section>

<section class="Gde">
	
	<div class="container">
	<div class="section-block Gde-container">
		
		<div class="row">
			<div class="SectionTitle text-center col-md-12">
				<h3 class="TheChild">Guide <span>&</span> Conseils utiles</h3>
			</div>
		</div>

		<div class="m-t-30 GdeInner">
		<div class="row">
			
			<div class="col-md-3">
				<div class="Gde-block Gde-1">
					<div class="transform-both">
						<img src="{{ asset('bundles/tomobile/img/Gde1.png')}}">
						<h4 class="Gde-title Gde-t-small m-t-20">Achat d'un Véhicule neuf ou occasion</h4>
						<h5 class="Gde-subtitle Gde-st-small text-uppercase m-t-10">Ce qu'il faut savoir</h5>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="Gde-block Gde-2">
					<div class="transform-both">
						<img src="{{ asset('bundles/tomobile/img/Gde2.png')}}">
						<h4 class="Gde-title Gde-t-small TextWhite m-t-20">Avis & Commentaires des Automobilistes</h4>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="Gde-block Gde-5">
					<div class="abs">
						<h4 class="Gde-title">véhicules<br />hybrides & electriques</h4>
						<h5 class="Gde-subtitle text-transform">Actus - Guide d’achat - Infos pratiques</h5>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="Gde-block Gde-3">
					<div class="transform-both">
						<img src="{{ asset('bundles/tomobile/img/Gde3.png')}}">
						<h4 class="Gde-title Gde-t-small TextWhite m-t-20">Astuces pour<br />Economosier du<br />Carburant</h4>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="Gde-block Gde-4">
					<div class="transform-both">
						<h4 class="Gde-title Gde-t-small m-b-10">Top vente</h5>
						<img src="{{ asset('bundles/tomobile/img/Gde4.png')}}">
						<h4 class="Gde-title Gde-t-small m-t-10">Les véhicules<br />les plus vendus<br />au maroc</h4>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="Gde-block Gde-6">
					<div class="abs">
						<h4 class="Gde-title">Véhicules de collection</h4>
						<h5 class="Gde-subtitle">Infos pratiques & Petites annonces</h5>
					</div>
				</div>
			</div>

		</div>
		</div>

		<div class="row">
			<div class="col-md-12 m-t-20">
				<a href="" class="Pn-more TextBlack float-right" style="padding-right: 50px;">Consulter tous les éléments <i class="zmdi zmdi-caret-right-circle"></i></a>
			</div>
		</div>	

	</div>
	</div>
	
</section>

<section class="Partenaires">
	
	<div class="container">
	<div class="section-block section-block-white">
		
		<div class="PartInner">
			<div class="row">
				<div class="SectionTitle TextWhite text-center col-md-12">
					<h3 class="TheChild">Partenaires</h3>
				</div>
			</div>

			<div class="row">
				<div class="OwlPart owl-carousel owl-theme col-md-10 offset-md-1 m-t-50 m-b-30">
					
					<div class="item"><img src="{{ asset('bundles/tomobile/img/partenaires/saham_assurance.jpg')}}" alt="Saham Assurance"></div>
					<div class="item"><img src="{{ asset('bundles/tomobile/img/partenaires/salafin.jpg')}}" alt="Salafin"></div>
					<div class="item"><img src="{{ asset('bundles/tomobile/img/partenaires/bnp.jpg')}}" alt="BNP Paribas"></div>
					<div class="item"><img src="{{ asset('bundles/tomobile/img/partenaires/nordea.jpg')}}" alt="Nordea"></div>
					<div class="item"><img src="{{ asset('bundles/tomobile/img/partenaires/chronopost.jpg')}}" alt="Chronopost"></div>
					<div class="item"><img src="{{ asset('bundles/tomobile/img/partenaires/airfrance.jpg')}}" alt="Air France"></div>
					<div class="item"><img src="{{ asset('bundles/tomobile/img/partenaires/britishairways.jpg')}}" alt="British Airways"></div>
					
				</div>
			</div>		
		</div>

	</div>
	</div>
	
</section>
                                       
{% endblock %}
